body {
	background: url(sculleryLandingPage.jpg); /*url(https://source.unsplash.com/xulIYVIbYIc);*/
	background-size: cover;
	background-position: center;
	font-family: Lato;
	color: white;
}

html {
	height: 100%;
}

#homeContent {
	font-size: 8px;
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	color: white;/*rgb(90,58,176);*/
	border: white;
}

#avocadoContent {
	font-size: 8px;
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	color: white;/*rgb(90,58,176);*/
	border: white;
}

#joinContent {
	font-size: 8px;
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	color: white;/*rgb(90,58,176);*/
	border: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
	margin: 0;
}

hr {
	width: 50%;
	border-top: #F8F8F8 1px solid ;
	border-bottom: rgba(0,0,0,0.2) 1px solid;
	color: rgb(90,58,176);
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: rgb(90,58,176);
}
.navbar-inverse .navbar-brand:hover {
	color: rgb(90,58,176);
}

.jumbotron {
	padding: 3px;
	background: rgba(0,0,0,0.7);
	width: 75%;
	margin: 0 auto;
}

/*AVOCADO SPECIFIC*/
#avocado-jumbotron {
	margin-bottom: 5px;
}
#avocadoContent {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	color: white;/*rgb(90,58,176);*/
	border: white;
}